@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "../includes/frappe-gantt.css";

@layer base {
  h1 {
    @apply p-3 text-xl;
  }
}

@layer components {
}
